.container-cursos {
  display: flex;
  gap: 40px;
}

.coluna-cursos p {
  font-weight: bold;
  margin-bottom: 10px;
}

.coluna-cursos ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.coluna-cursos li {
  margin-bottom: 8px;}
